@model Preferance.Models.MatchB

@{
    ViewData["Title"] = "Create";
}

<h1>Select Teams</h1>

<form asp-action="MatchStart">
    <input asp-for="Id" value="@Model.Id" hidden />
    <input id="txtCanStart" value="" hidden />
    <div id="divPlayerSelect">
        <label>Team 1:</label><br />
        <select class="custom-select badge-pill badge-light" id="Player1" onchange="populateNextPlayer(1)">
            <option value="0">Please Select...</option>
            @foreach (var Player in Model.AllPlayers)
            {
                {
                    <option value="@Player.Id">@Player.Name</option>
                }
            }
        </select>

        <div id="divPlayer2">
            <select class="custom-select badge-pill badge-light" id="Player2" onchange="populateNextPlayer(2)">
                <option value="0">Please Select...</option>
            </select>
        </div>
        <br />

        <label>Team 2:</label><br />
        <div id="divPlayer3">
            <select class="custom-select badge-pill badge-light" id="Player3" onchange="populateNextPlayer(3)">
                <option value="0">Please Select...</option>
            </select>
        </div>

        <div id="divPlayer4">
            <select class="custom-select badge-pill badge-light" id="Player4" onchange="populateNextPlayer(4)">
                <option value="0">Please Select...</option>
            </select>
        </div>

    </div>

    <br />

    <div>
        <input type="submit" id="btnStart" class="btn-block badge-pill badge-light" disabled="disabled" />
    </div>
    <div id="Board" class="boardcontainer" hidden>
        <img src="~/images/board.jpg" style="width:100%;height:auto" />
        <div class="player1">
            <input id="Player1Id" asp-for="North.Id" value="@Model.North.Id" hidden />
            <input id="Player1Name" class="bg-transparent border-0 text-center" readonly />
        </div>
        <div class="player2">
            <input id="Player2Id" asp-for="South.Id" value="@Model.South.Id" class="bg-transparent border-0 text-center" hidden />
            <input id="Player2Name" class="bg-transparent border-0 text-center" readonly />
        </div>
        <div class="player3">
            <input id="Player3Id" asp-for="East.Id" value="@Model.East.Id" class="bg-transparent border-0 text-center" hidden />
            <input id="Player3Name" class="bg-transparent border-0 text-center" readonly />
        </div>
        <div class="player4">
            <input id="Player4Id" asp-for="West.Id" value="@Model.West.Id" class="bg-transparent border-0 text-center" hidden />
            <input id="Player4Name" class="bg-transparent border-0 text-center" readonly />
        </div>
    </div>

</form>
<script>
    function populateNextPlayer(player) {
        var count = 0;
        var curindex;
        var intindex;
        var intadd = true;
        var allplayers = @Html.Raw(Json.Serialize(Model.AllPlayers));
        var intselect;

        document.getElementById("Player".concat((player).toString()).concat("Name")).value = document.getElementById("Player".concat((player).toString())).options[document.getElementById("Player".concat((player).toString())).selectedIndex].text;;
        document.getElementById("Player".concat((player).toString()).concat("Id")).value = document.getElementById("Player".concat((player).toString())).options[document.getElementById("Player".concat((player).toString())).selectedIndex].value;;

        if (player == 4) {
            if (document.getElementById("Player".concat((player).toString())).selectedIndex > 0) {
                document.getElementById("txtCanStart").value = "True";
                document.getElementById("btnStart").classList.remove("badge-light");
                document.getElementById("btnStart").classList.add("badge-info");
                document.getElementById("btnStart").disabled = false;
            }
            else {
                document.getElementById("txtCanStart").value = "";
                document.getElementById("btnStart").classList.add("badge-light");
                document.getElementById("btnStart").disabled = true;
            }
            return;
        }

        document.getElementById("txtCanStart").value = "";
        document.getElementById("btnStart").classList.add("badge-light");
        document.getElementById("btnStart").disabled = true;
        for (curindex = player + 1; curindex < 5; ++curindex) {
            intselect = document.getElementById("Player".concat((curindex).toString()));
            intselect.options.length = 0;
        }

        var nextSelect = document.getElementById("Player".concat((player + 1).toString()));
        var curSelect = document.getElementById("Player".concat((player).toString()));
        if (curSelect.selectedIndex == 0) {
            return;
        }
        nextSelect.options.length = 0;

        var option = document.createElement("option");
        option.value = 0;
        option.text = "Please Select...";
        nextSelect.add(option);

        for (curindex = 0; curindex < @Model.AllPlayers.Count(); ++curindex) {
            intadd = true;
            for (intindex = 1; intindex < player + 1; ++intindex) {
                intselect = document.getElementById("Player".concat((intindex).toString()));
                if ((allplayers[curindex].id == intselect.options[intselect.selectedIndex].value)) {
                    intadd = false;
                }
            }

            if (intadd) {
                count++;
                var option = document.createElement("option");
                option.value = allplayers[curindex].id;
                option.text = allplayers[curindex].name;
                nextSelect.add(option);
            }
        }
    }

    function startclicked() {
        if (document.getElementById("txtCanStart").value == "") {
            alert("Field is not configured");
            return
        }
    }
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
