@model Preferance.Models.Match

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Match</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <table>
                    <tr>
                        <td>
                            <label>@Model.Player1.Name</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Pool:</label>
                        </td>
                        <td>
                            <input asp-for="Player1CurrentPool" class="form-control" />
                            <span asp-validation-for="Player1CurrentPool" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Dump:</label>
                        </td>
                        <td>
                            <input asp-for="Player1CurrentDump" class="form-control" />
                            <span asp-validation-for="Player1CurrentDump" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Whist against </label><label>@Model.Player2.Name</label>
                        </td>
                        <td>
                            <input asp-for="Player12CurrentWhist" class="form-control" />
                            <span asp-validation-for="Player12CurrentWhist" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Whist against </label><label>@Model.Player3.Name</label>
                        </td>
                        <td>
                            <input asp-for="Player13CurrentWhist" class="form-control" />
                            <span asp-validation-for="Player13CurrentWhist" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Whist against </label><label>@Model.Player4.Name</label>
                        </td>
                        <td>
                            <input asp-for="Player14CurrentWhist" class="form-control" />
                            <span asp-validation-for="Player14CurrentWhist" class="text-danger"></span>
                        </td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td>
                            <label>@Model.Player2.Name</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Pool:</label>
                        </td>
                        <td>
                            <input asp-for="Player2CurrentPool" class="form-control" />
                            <span asp-validation-for="Player2CurrentPool" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Dump:</label>
                        </td>
                        <td>
                            <input asp-for="Player2CurrentDump" class="form-control" />
                            <span asp-validation-for="Player2CurrentDump" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Whist against </label><label>@Model.Player1.Name</label>
                        </td>
                        <td>
                            <input asp-for="Player21CurrentWhist" class="form-control" />
                            <span asp-validation-for="Player21CurrentWhist" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Whist against </label><label>@Model.Player3.Name</label>
                        </td>
                        <td>
                            <input asp-for="Player23CurrentWhist" class="form-control" />
                            <span asp-validation-for="Player23CurrentWhist" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Whist against </label><label>@Model.Player4.Name</label>
                        </td>
                        <td>
                            <input asp-for="Player24CurrentWhist" class="form-control" />
                            <span asp-validation-for="Player24CurrentWhist" class="text-danger"></span>
                        </td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td>
                            <label>@Model.Player3.Name</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Pool:</label>
                        </td>
                        <td>
                            <input asp-for="Player3CurrentPool" class="form-control" />
                            <span asp-validation-for="Player3CurrentPool" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Dump:</label>
                        </td>
                        <td>
                            <input asp-for="Player3CurrentDump" class="form-control" />
                            <span asp-validation-for="Player3CurrentDump" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Whist against </label><label>@Model.Player1.Name</label>
                        </td>
                        <td>
                            <input asp-for="Player31CurrentWhist" class="form-control" />
                            <span asp-validation-for="Player31CurrentWhist" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Whist against </label><label>@Model.Player2.Name</label>
                        </td>
                        <td>
                            <input asp-for="Player32CurrentWhist" class="form-control" />
                            <span asp-validation-for="Player32CurrentWhist" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Whist against </label><label>@Model.Player4.Name</label>
                        </td>
                        <td>
                            <input asp-for="Player34CurrentWhist" class="form-control" />
                            <span asp-validation-for="Player34CurrentWhist" class="text-danger"></span>
                        </td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td>
                            <label>@Model.Player4.Name</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Pool:</label>
                        </td>
                        <td>
                            <input asp-for="Player4CurrentPool" class="form-control" />
                            <span asp-validation-for="Player4CurrentPool" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Dump:</label>
                        </td>
                        <td>
                            <input asp-for="Player4CurrentDump" class="form-control" />
                            <span asp-validation-for="Player4CurrentDump" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Whist against </label><label>@Model.Player1.Name</label>
                        </td>
                        <td>
                            <input asp-for="Player41CurrentWhist" class="form-control" />
                            <span asp-validation-for="Player41CurrentWhist" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Whist against </label><label>@Model.Player2.Name</label>
                        </td>
                        <td>
                            <input asp-for="Player42CurrentWhist" class="form-control" />
                            <span asp-validation-for="Player42CurrentWhist" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Whist against </label><label>@Model.Player3.Name</label>
                        </td>
                        <td>
                            <input asp-for="Player43CurrentWhist" class="form-control" />
                            <span asp-validation-for="Player43CurrentWhist" class="text-danger"></span>
                        </td>
                    </tr>
                </table>
            </div>
            <button type="submit"
                    class="badge-pill badge-info">
                Submit 
            </button>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
